{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% include 'topbar.html' %}
    <div class="outer-container">
        <div class="content-container">
            <h1>Hallo, welkom</h1>

            <p>Hier wordt gebouwd aan een nieuwe applicatie</p>

            <div class="grey-wrapper">
                <form method="POST">
                    <br/>
                    <input type="password" name="password" class="form-control"
                           placeholder="Wachtwoord">
                    <br/>
                    <br/>
                    <button type="submit">
                        <div class="button-text">Login</div>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}