@font-face {
    font-family: RijksoverheidSansWebText;
    src: url(ROsanswebtextregular.woff);
}

@font-face {
    font-family: RijksoverheidSansWebTextBold;
    src: url(ROsanswebtextbold.woff);
}

.outer-container {
    margin: auto;
    max-width: 400px;
    border: 1px solid #d6d6d6;
}

.content-container {
    margin: 0;
    padding: 10px;
}

h1 {
    color: black;
    font-size: 21px;
    font-family: RijksoverheidSansWebText;
    font-weight: normal;
    line-height: 23px;
    word-wrap: break-word;
}

p {
    color: black;
    font-size: 16px;
    font-family: RijksoverheidSansWebText;
    line-height: 22px;
    word-wrap: break-word;
    font-weight: normal;
}

.error-message {
    font-family: RijksoverheidSansWebText;
    font-size: 16px;
    color: #be1616;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

.grey-wrapper {
    background: #F3F3F3;
    padding: 16px;
    margin: 5px 5px 10px;
}

input {
    width: 98%;
    height: 24px;
}

button {
    background: #007BC7;
    border: 0;
    padding: 12px 16px 12px 16px;
    margin: 10px 0 10px 0;
}

.button-text {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: RijksoverheidSansWebText;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
}

#button-photo {
    font-size: 14px;
}

#text {
    font-family: RijksoverheidSansWebText;
    font-size: 14px;
}

#image-upload-button {
    padding: 5px 10px 5px 10px;
    margin: 10px 0 10px 0;
}

.loader {
    margin: 20px auto 0 auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #007BC7; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

form.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#preview {
    display: none;
    margin: 0 auto 0 auto;
    max-width: 100%;
    max-height: 340px;
}

#image-selector {
    display: none;
}

#image-selector-wrapper {
    padding: 20px;
    border: 1px dashed #007BC7;
    margin: 25px auto auto;
}

#text-wrapper {
    padding: 20px;
    border: 1px dashed #007BC7;
    margin: 25px auto auto;
}

.info-1 {
    fill: none;
}

.info-2 {
    fill: #007BC7;
}

#preview-delete {
    display: inline;
}

#photo-preview-text {
    display: none;
}

#clear-query {
    display: none;
    cursor: pointer;
    width: 49%;
}

#change-search-text {
    display: none;
    cursor: pointer;
    margin-left: 16px;
    width: 49%;
}

#input-text-wrapper {
    margin: auto;
}

#image-selector-label, #image-selector-label-empty {
    font-family: RijksoverheidSansWebText;
    font-size: 14px;
    padding: 10px;
}

.text-filter-info,
.text-filter-digits-info,
.image-selector-info,
.text-selector-info {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

#text-filter-option1,
#text-filter-option2{
    display: flex;
    position: relative;
}

.text-filter-info,
.text-filter-digits-info {
    position: absolute;
    right: 10px;
}


.selector-info-wrapper {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#char-counter-text-input {
    float: right;
    text-align: right;
    font-size: 12px;
    font-family: RijksoverheidSansWebText;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#image-selector-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

#submit-buttons {
    display: flex;
    justify-content: center;
}

#new-results-button {
    cursor: pointer;
}

.clickable-button {
    cursor: pointer;
}

#image-selector-icon {
    width: 45px;
    height: 45px;
}

.disclaimer-container {
    display: flex;
    justify-content: right;
    padding-right: 15px;
    font-family: RijksoverheidSansWebText;
    font-size: 15px;
    cursor: pointer;
    font-weight: normal;
    color: #007BC7;
}

.clickable-info {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 8px; /* Adds space between checkbox and text */
    white-space: nowrap; /* Prevents text wrapping */
    color: black;
    font-size: 15px;
    font-family: RijksoverheidSansWebText;
    font-weight: normal;
    line-height: 23px;
    word-wrap: break-word;
}

input[type="checkbox"] {
    transform: scale(1.5); /* Increase size by 50% */
    margin-right: 8px; /* Optional spacing */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion-index-page {
    font-size: 15px;
    font-family: RijksoverheidSansWebText;
    background-color: #e6e6e6;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion-index-page {
    background-color: #cccccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: 1px dashed #007BC7;
}

.accordion-index-page img {
    max-width: 24px;
    max-height: 16px;
    vertical-align: top; /* optional, keeps it aligned with text */
    float: right;
}

.down,
.up {
    display: none;
}

.accordion-index-page .down {
    display: inline;
}

.accordion-index-page.active .down {
    display: none;
}

.accordion-index-page.active .up {
    display: inline;
}
