<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{{ _('De Vuurwerkverkenner is ontwikkeld door het Nederlands Forensisch Instituut (NFI) en is een hulpmiddel
            om een indicatie te krijgen van welk professioneel vuurwerkartikel ontploft is,
            welke onderdelen dit vuurwerk bevat en hoe gevaarlijk de explosie van dit vuurwerkartikel is.')}}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon"
          href="{{ url_for('static', filename='icons/favicon.ico') }}"
          sizes="any">
    <link rel="icon" type="image/svg+xml"
          href="{{ url_for('static', filename='icons/favicon.svg') }}">
    {% block links %}{% endblock %}
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/help.js') }}"></script>
    {% block scripts %}{% endblock %}
</head>
<body class="text-center">
<header>
    {% block header %}{% endblock %}
</header>
{% block content %}{% endblock %}
{% block modals %}{% endblock %}
</body>
</html>
